<!DOCTYPE html>
<html>
  <head>
    <title>GOES AGAINST</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (user) { %>
        <a href="/logout" id="log-deco">LOGOUT</a>
    <% } else { %>
        <a href="/auth/google" id="log-deco">LOGIN</a>
    <% } %>
</body>
</html>