<!DOCTYPE html>
<html>
  <head>
    <title>GOES AGAINST</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (user) { %>
        <a href="/logout" id="log-deco">LOGOUT</a>
    <% } else { %>
        <a href="/auth/google" id="log-deco">LOGIN</a>
    <% } %>
    <br>
<div>
<div>

  <% members.forEach(function(member) { %>
    <div>
      <div>
        <div>
          <span>
                      <img src="<%= member.avatar %>" class="circle responsive-img" width="50">
                    <span><%= member.displayName %></span>
                  </span>
                </div>
                  <% member.links.forEach(function(link) { %>
                    <p><a href="<%= link.link %>" target="_blank"><%= link.linktext %></a></p>
                  <% }) %>

                <% if (member._id.equals(user && user._id)) { %>
                   <form action="/members/links" method="POST">
                    <input type="text" name="linktext" value="TITLE">
                    <input type="text" name="link" value="URL">
                    <button type="submit" class="btn white-text">ADD LINK</button>
                  </form>
                  <form action="/members/:id"></form>
                <% } %>       
      </div>
    </div>
  <% }) %>
</div>
</div>

</body>
</html>