title {
	text-transform: lowercase;
}

body {
	margin: 50px 50px 50px 50px;
	font-size: min(1rem, 3.5vw);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1, h3 {
	text-transform: capitalize;
}

a {
	text-decoration: none;
}

p {
	margin: 0 0 1rem 0;
}

.profile-container {
	display: flex;
	justify-content: space-between;
}

.pp-container {
	position: relative;
}

.x {
	position: absolute;
	right: 0;
	padding: 0 5px;
	margin: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background: rgba(255, 255, 255, 0.8);
}

.profile-pic {
	width: 500px;
	height: 500px;
	object-fit: cover;
}

#link-text {
	color: blue;
}

.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: min(0.6rem, 2vw);
	text-decoration: none;
	text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
	.profile-container {
		flex-direction: column-reverse;
		width: 100%;
	}

	.profile-pic {
		width: 100%;
		height: auto;
		object-fit: none;
		margin-bottom: 20px;
	}

	.vertical-form {
		display: flex;
		flex-direction: column;
	}
}