<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOES AGAINST</title>
</head>
<body>
    <% if (user) { %>
        <a href="/logout" id="log-deco">LOGOUT</a>
    <% } else { %>
        <a href="/auth/google" id="log-deco">LOGIN</a>
    <% } %>
</body>
</html>