<!DOCTYPE html>
<html>
  <head>
    <title>GOES AGAINST</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (user) { %>
        <a href="/logout" id="log-deco">LOGOUT</a>
    <% } else { %>
        <a href="/auth/google" id="log-deco">LOGIN</a>
    <% } %>
    <br>
<div>
<div>

  <% member.forEach(function(m) { %>
    <span><%= m.displayName %></span>
    <% m.links.forEach(function(l) { %>
      <p><a href="<%= l.link %>" target="_blank"><%= l.linktext %></a></p>
    <% }) %>

    <% if (m._id.equals(user && user._id)) { %>
      <form action="/member/links" method="POST">
        <input type="text" name="linktext" value="TITLE">
        <input type="text" name="link" value="URL">
        <button type="submit" class="btn white-text">ADD LINK</button>
      </form>
      <form action="">

      </form>
  <% } %>       
<% }) %>
</div>
</div>

</body>
</html>