<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOES AGAINST</title>
</head>
<body>
  <% if (member._id.equals(user && user._id)) { %>
    <h3>SUBSCRIBERS</h3>
    <% member.subscriptions.forEach(function(s) { %>
      <p>
        <form action="" method="POST">
        <button type="submit">X</button>
        <%= s.subEmail %>
        </form>
      </p>
    <% }) %>
  <% } %>
</body>
</html>